/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  background: black;
  color:#61dafb;
  justify-content: center;
}

.navbar li{
  list-style: none;
  margin: 20px;
  padding: 10px;
}

.navbar li:hover{
  transform: scale(1.2);
  font-weight: 600;
  color: aqua;
  background-color: blue;
  border-radius: 10px;
}

.img1{
  width: 48vh;
}

.center{
  display: flex;
  justify-content: center;
}

.center-img{
  display: flex;
  margin: auto;
}


.img-react{
  width: 50vh;
  display: flex;
  margin: auto;
} */